body {
  font-family: sans-serif;
  background-color: #e0ffee;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.header-link {
  text-decoration: none;
  margin: 10px;
}

 main {
   margin: 50px;
 }

h1 {
  font-family: serif;
}
